@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Montserrat", serif;
  background-color: olive;
}
button {
  color: red;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 30px;
  padding: 50px;
  font-size: large;
  font-weight: bold;
  font-family: "Montserrat", serif;
}

div{
  display: flex;
}

img{
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.orgchart-row {
  background-color: rebeccapurple; /* Example background color */
  border: 1px solid #ccc; /* Example border */
}

.orgchart-row-hover {
  background-color: yellow; /* Example background color on hover */
}

.orgchart-row-selected {
  background-color: #d0d0d0; /* Example background color when selected */
}

.orgchart-cell {

  padding: 50px; /* Example padding */
}

.orgchart-cell-hover {
  background-color: #ffffcc; /* Example background color on hover */
}

.orgchart-cell-selected {
  background-color: #ffff99; /* Example background color when selected */
}
