@import url("https://fonts.googleapis.com/css?family=Montserrat");
body{
    font-family: "Montserrat", serif;
    background-color: #799461;
}
button {
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 30px;
  padding: 50px;
  font-size: large;
  font-weight: bold;
  font-family: "Montserrat", serif;
}
.back {
  font-size: 16px;
  text-align: center;
  padding: 0px;

  width: 150px;
  height: 30px;

  /*These lines position the back button inside the header*/
  position: absolute;
  top: 8px;
  border-radius: 3px;
}
#new{
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin-left: 1250px;
  width: 50px;
  height: 50px;

  /*These lines position the back button inside the header*/
  position: relative;
  bottom: 8px;
  border-radius: 50px;
}
button:hover{
  background-color: lightgray;
}

button:active{
  background-color: gray;
}
#disabled:hover{
  background-color: orangered;
}

#disabled:active{
  background-color: orangered;
}
/* .cell{
  display: flex;
} */

#header {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}
h1{
  font-size: 50px;
}
img{
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.orgchart-row {
  border: 1px solid #ccc; /* Example border */
}

.orgchart-row-hover {
  background-color: yellow; /* Example background color on hover */
}

.orgchart-row-selected {
  background-color: #d0d0d0; /* Example background color when selected */
}

.orgchart-cell {
  align-items: center;
  justify-content: center;
}

.orgchart-cell-hover {
  background-color: #ffffcc; /* Example background color on hover */
}

.orgchart-cell-selected {
  background-color: #ffff99; /* Example background color when selected */
}
